#!/bin/bash

project=gmaven

function command_rebuild {
  mvn clean install "$@"
}

function command_ci_prepare {
  self license-check $*
}

function command_ci_build {
  if [ "$TRAVIS_PULL_REQUEST" != 'false' ]; then
    goal=install
  else
    goal=deploy
  fi
  mvn clean ${goal} "$@"
}

function command_site_build {
  mvn -Psite-stage
}

function command_site_deploy {
  self site_build
  mvn -Psite-publish
}